# python specific ignores
__pycache__/
*.pyc
.pytest_cache/
tests/

# logs
*.log
logs/

# virtual environment
.venv/

# helper logs
agent.txt
counter.txt

# test python file
test.py
assets/

# info for developer only
cheatsheets/

# game flappy dodo save file
flappydodosave.json

# .exe output
output/

# vscode specific
.vscode/
.companion/

.ds_store